
    <div class="custom-carousel">
        <div class="carousel-track">
            <img src="/img/bgimg1.png" class="carousel-img w-[100vw] h-auto xl:h-[65vh]" alt="Slide 1" ">        
        </div>
        
    </div>


