<footer class="h-[70vh] xl:h-[60vh] bg-black w-screen flex xl:flex-row flex-col xl:justify-center items-center relative pt-8  px-5 xl:pt-10">
    <div class="flex flex-col xl:flex-row justify-between w-[60%]">

        <div class="logo mb-10"><img src="/img/footer-logo.svg" alt=""></div>
        
        <div class="top xl:w-[60%] flex flex-row justify-between ">
            <div class="logo w-[30%] h-auto"><img src="/img/quick-links.svg" alt=""></div>
            <div class="logo  w-[30%] h-auto"><img src="/img/footer-about.svg" alt=""></div>
            <div class="logo w-[30%] h-auto"><img src="/img/help-center.svg" alt=""></div>
            
        </div>
    </div>
        <div class="bottom-10 xl:bottom-0 absolute w-[90%] xl:w-[80%] h-[20%] flex flex-col xl:flex-row items-center justify-center text-[#A1A1A1] gap-5">
        <p>© 2025 FoodFarm.</p><p>All rights reserved.</p>
        <p class="font-bold text-red-50">Made by Sachin Jha</p>
    </div>
</footer>