<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fard Farm</title>
    <link rel="stylesheet" href="/src/output.css">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="imgfavicon//favicon.svg" />
    <link rel="shortcut icon" href="img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="img/favicon/site.webmanifest" />
</head>

<body class="flex justify-center items-center relaive bg-[#6BB252] "
    style="background-image: url('./img/bg-signUp.png');">

    <div
        class="box w-[80vw] xl:w-[25vw] h-[55vh] bg-white absolute top-[20%] rounded-xl shadow-xl/30 flex flex-col justify-around items-center">
        <div class="logo flex flex-col justify-center items-center gap-5">
            <img src="/img/logo-icon.svg" alt="" class="p-4 bg-gray-400 rounded-full">
            <img src="/img/FoodFarm-logo.svg" alt="">
        </div>
        <div>
            <a href="/auth/google"
                class="px-4 py-2 border bg-indigo-700 flex gap-2 border-slate-200 dark:border-slate-700 rounded-lg text-white  xl:text-slate-700 dark:text-slate-200 hover:border-slate-400 dark:hover:border-slate-500 hover:text-slate-900 dark:hover:text-slate-300 hover:shadow transition duration-150">
                <img class="w-6 h-6" src="https://www.svgrepo.com/show/475656/google-color.svg" loading="lazy"
                    alt="google logo">
                <span>Login with Google</span>
            </a>
        </div>
    </div>




    <script src="/JS/script.js"></script>
</body>

</html>