<div class="container h-[50vh] w-screen flex flex-col justify-center items-center relative">
    <div class="box p-2 flex flex-col justify-around xl:justify-center items-center gap-3 border rounded-3xl w-[90%] xl:w-[40vw] h-[30vh] xl:h-[25vh] absolute xl:right-[23%]">
        <p class="font-bold text-2xl xl:text-3xl text-[#6BB252] text-center">Your Order Has Been Placed</p>
        <p>Your Transaction Id: <%= id %></p>
        <p>Your parcel will reach to you within 2 days!</p>
        <p class="font-black">Thank You for shopping.</p>
    </div>
</div>